/* Custom styles for the portfolio */
.App {
  text-align: left;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffee;
}

::-webkit-scrollbar-track {
  background-color: #080808;
  width: 50px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .home {
    flex-direction: column;
    gap: 8rem;
    text-align: center;
  }
  
  .home-img img {
    width: 50vw;
  }
  
  .timeline-items::before {
    left: 30px;
  }
  
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 60px;
    text-align: left;
  }
  
  .timeline-dot {
    left: 22px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  
  .home {
    gap: 4rem;
  }
  
  .heading {
    font-size: 6rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 45%;
  }
  
  .home-content h1 {
    font-size: 5rem;
  }
  
  .heading {
    font-size: 4rem;
  }
}
